<div class="mx-auto w-9/12 max-w-4xl flex flex-col gap-4">
  <h1 class="text-3xl font-bold">Blogs</h1>
  <% for (const blog of blogs) { %>
    <%- include('_blog_card', { blog: blog }) %>
  <% } %>
</div>