<div class="mx-auto w-9/12 max-w-4xl flex flex-col gap-4">
  <h1 class="text-3xl font-bold"><%- blog.title %></h1>
  <% for (const section of blog.sections) { %>
    <% if (section.header && section.header.length > 0) { %>
      <h2 class="text-xl font-semibold"><%- section.header %></h2>
    <% } %>
    <p><%- section.content %></p>
  <% } %>
</div>