<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="width=device-width, initial-scale=1">
    <title>md-blog</title>
    <link rel="stylesheet" href="css/tailwind.css">
  </head>
  <body>
    <nav id="layout_header" class="flex bg-slate-300 p-6">
      <div class="flex-1">
        md-blog nav
      </div>
    </nav>
    <div id="root">
      <%- body %>
    </div>
  </body>
</html>